@if (member){
<div>
  <div class="row">
   @for (photo of member.photos; track $index){
     <div class="shadow col-md-4">
      <div class="card shadow-sm m-1">
        <img [src]="photo.url" alt="picture" class="img-thumbnail" />
        <div class="card-body">
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button
                type="button"
                (click)="onSetMainPhoto(photo.photoId)"
                [class]="photo.isMain ? 'btn-primary' : 'btn-outline-primary'"
                class="btn btn-sm"
              >
                <i class="far fa-check-square"></i>
              </button>
              <button
                (click)="onDeletePhoto(photo.photoId)"
                type="button"
                class="btn btn-sm btn-outline-danger"
              >
                <i class="far fa-trash-alt"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
   }
    </div>
  <div class="row mt-3">
    <div class="col-md-12 text-center">
      <h3> Send Pictures </h3>

      <div class="upload-container">
        <input type="file" (change)="onFileSelected($event)" />
        <button (click)="uploadFile()">Upload</button>
      </div>

    </div>
  </div>
</div>
}






