<div class="card">
  <div
    class="card-body"
    #scrollMe
    [scrollTop]="scrollMe.scrollHeight"
    style="overflow-y: scroll; height: 535px"
  >
    <!-- no message thread -->
    
    @if ((messageService.messageThreadSource$ | async)?.length === 0){
      <div class="alert alert-primary py-4 text-center">
        No messages yet... say hi by using the message box below
      </div>
    }
    <!-- has message thread -->
    @if (messageService.messageThreadSource$ | async; as messages){
      <ul class="chat">
      @for (message of messages; track $index){
        <li>
        <div>
          <span class="chat-img float-right">
            <div class="d-flex">
              <img
              class="rounded-circle"
              [src]="message.senderUserName === currentUser.userName
                      ? currentUser.photoUrl
                      : (message.senderUserName === member.userName ? member.photoUrl : 'assets/default-user.jpg')"
            />
            <p>{{message.senderUserName}}</p>
            </div>
          </span>
          <div class="chat-body">
            <div class="header">
              <small class="text-muted">
                <span>{{ message?.messageSent | timeAgo }}</span>
                <!-- sender is mySelf -->
                @if (!message.dateRead && message.senderUserName !== userName){
                  <span class="text-danger">
                    (unread)
                  </span>
                }
                @if (message.dateRead && message.senderUserName !== userName){
                  <span class="text-success">
                    (read {{ message.dateRead | timeAgo }})
                  </span>
                }
              </small>
            </div>
            <p>{{ message?.content }}</p>
          </div>
        </div>
      </li>
      }
    </ul>
    }
  </div>

  <div class="card-footer">
    <form #messageForm="ngForm" (submit)="onSubmit()" autocomplete="off">
      <div class="input-group">
        <input
          name="messageContent"
          [(ngModel)]="messageContent"
          required
          type="text"
          class="form-control input-sm"
          placeholder="Send a private message"
        />
        <div class="input-group-append" style="margin-left: 5px">
          <button
            [disabled]="messageForm.invalid"
            class="btn btn-primary"
            type="submit"
          >
            Send
            @if (loading){
              <i class="fa fa-spinner fa-spin"></i>
            }
          </button>
        </div>
      </div>
    </form>
  </div>
</div>


